.header {
    height: 60px;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.btn {
    margin: 0 auto;
    background: rgb(214, 108, 69);
    color: black;
    border: black;
    width: auto;

}
.btn:hover {
    background: rgb(234, 51, 109);
    color: white;
}
.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    position: relative; /* Set position to relative */
    margin-top: 20px; /* Adjust margin-top as needed */
}

.searchBar {
    display: flex;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 16px;
    width: 300px; /* Adjust width as needed */
    background-color: #ffffff;
}

.searchBar:hover {
    box-shadow: 0 0 10px rgb(234, 51, 109);
}

.searchBar input {
    width: 70%; /* Adjust input width as needed */
    border: none; /* Remove input border */
    outline: none; /* Remove input outline */
}