.header {
    width: 100%;
    background: #333333;
}

.logo {
    width: 25%;
    padding: 10px;
}

.logout {
    position: fixed;
    right: 10px;
    top: 15px;
}

.editUsers {
    position: fixed;
    right: 85px;
    top: 15px;
}