.header {
    width: 100%;
    background: #333333;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
    min-width: 400px;
    max-width: 400px;
    align-items: center;
}

.btn {
    margin-right: 20px;
}

.headerButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}