<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body><h3>Siden kunne ikke findes - hvis du ikke har indtastet forkert URL: kontakt systemadministrator</h3></body>
<iframe src="https://giphy.com/embed/1094xSp23iiiv6" width="480" height="404" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a href="/home">Hjem</a>
</html>