<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilføj medarbejder til subprojekt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>

<h1 th:text="'Tilføj medarbejdere til ' + ${project.projectName}"></h1>

<div>
    <ul>
        <li th:each="emp : ${empsToAdd}">
            <span th:text="${emp.username}"></span>
            <form th:action="@{'/projects/' + ${projectID} + '/update-emps/add/' + ${emp.username}}" method="post">
                <button type="submit">Tilføj til projekt</button>
            </form>
        </li>
    </ul>
</div>

<h1>Medarbejdere på projektet</h1>
<div>
    <ul>
        <li th:each="emp : ${empsOnProject}">
            <span th:text="${emp.username}"></span>
            <form th:action="@{'/projects/' + ${projectID} + '/update-emps/remove/' + ${emp.username}}" method="post">
                <button type="submit">Fjern fra projekt</button>
            </form>
        </li>
    </ul>
</div>

<a th:href="'/projects/' + ${parentProjectID} +  '/subprojects'">Tilbage</a>

</body>
</html>
