<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee to Project</title>
</head>
<body>
<h1>Add Employee to Project</h1>
<form th:action="@{'/projects/' + ${projectID} + '/add'}" method="get">
    <input type="text" name="searchString" placeholder="Search for employees...">
    <button type="submit">Search</button>
</form>

<div>
    <ul>
        <li th:each="emp : ${empsToAdd}">
            <span th:text="${emp.username}"></span>
            <form th:action="@{'/projects/' + ${projectID} + '/add/' + ${emp.username}}" method="post">
                <button type="submit">Add to Project</button>
            </form>
        </li>
    </ul>
</div>

<h1>Emps on project currently</h1>
<div>
    <ul>
        <li th:each="emp : ${empsOnProject}">
            <span th:text="${emp.username}"></span>
        </li>
    </ul>
</div>
</body>
</html>
