<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Emp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div class="container">
    <h2>Opret ny medarbejder</h2>
    <form action="/create-emp/submit" method="POST">

        <div class="form-group">
            <label for="firstName">Fornavn:</label>
            <input type="text" id="firstName" class="form-control" name="firstName" required/>
        </div>

        <div class="form-group">
            <label for="lastName">Efternavn:</label>
            <input type="text" id="lastName" class="form-control" name="lastName" required/>
        </div>

        <div class="form-group">
            <label for="password">Adgangskode:</label>
            <input type="text" id="password" class="form-control" name="password" required/>
        </div>

        <div class="form-group">
            <label for="jobType">Job Type:</label>
            <select id="jobType" class="form-control" name="jobType" required>
                <option value="1">Medarbejder</option>
                <option value="2">Projektleder</option>
                <option value="3">System Administrator</option>
            </select>
        </div>


        <div th:each="skill : ${skillsList}" class="form-check">
            <input type="checkbox" class="form-check-input" name="skills[]" th:id="'skill' + ${skill}" th:value="${skill}">
            <label class="form-check-label" th:for="'skill' + ${skill}" th:text="${skill}"></label><br/>
        </div>

        <button class="btn" type="submit" value="Create Emp">Opret medarbejder</button>
    </form>
</div>
</body>
</html>
