<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <link rel="stylesheet" href="/createProjectStyles.css">

</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div class="container">
    <h2>Opret nyt projekt</h2>
    <form action="#" th:action="@{/projects/new/submit}" th:object="${project}" method="post">
        <div class="form-group">
            <label for="projectName">Projektnavn:</label>
            <input type="text" id="projectName" class="form-control" name="projectName" required/>
        </div>

        <div class="form-group">
            <label for="startDate">Start dato:</label>
            <input type="date" id="startDate" class="form-control" name="startDate" required/>
        </div>

        <div class="form-group">
            <label for="endDate">Slut dato:</label>
            <input type="date" id="endDate" class="form-control" name="endDate" required/>
        </div>

        <button class="btn" type="submit" value="createProject">Opret projekt</button>
    </form>
</div>
</body>
</html>