<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret subprojekt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<body>
<div th:replace="~{fragments/header :: header}" class="header"></div>

<div class="container mt-4">
    <h1 class="mb-4">Opret nyt subprojekt</h1>
    <form action="#" th:action="@{'/projects/' + ${parentProjectID} + '/create-subproject/submit'}" th:object="${subProject}" method="post">
        <div class="form-group">
            <label for="projectName"><strong>Projektnavn:</strong></label>
            <input type="text" id="projectName" name="projectName" th:value="*{projectName}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="startDate"><strong>Start dato:</strong></label>
            <input type="date" id="startDate" name="startDate" th:value="*{startDate}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="endDate"><strong>Slut dato:</strong></label>
            <input type="date" id="endDate" name="endDate" th:value="*{endDate}" class="form-control" required>
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Opret subprojekt</button>
        <a th:href="'/projects/' + ${projectID} + '/subprojects'" class="btn btn-secondary mb-2">Fortryd og gå tilbage</a>
        </div>
    </form>
</div>
</body>
</html>
