<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <link rel="stylesheet" href="/findUserStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div class="search-container">
    <form class="searchBar" th:action="@{/find-user}" method="get">
        <input type="text" name="searchString" placeholder="Search for employees...">
        <button class="btn" type="submit">Søg</button>
    </form>
</div>

<a class="btn createUser" href="/create-emp" >+Opret medarbejder</a>

<div id="emp-container">
    <div class="empBox" th:each="emp : ${foundEmps}">
            <h2 class="fullName" th:text="${emp.firstName} + ' ' + ${emp.lastName}">Fulde navn</h2>
            <h5 class="username" th:text="${emp.username}">Brugernavn</h5>

            <div class="button-group">
                <a th:href="@{'/edit-emps/' + ${emp.username} + '/update-emp'}" class="btn">Opdater</a>
                <form th:action="@{'edit-emps/' + ${emp.username} + '/delete-emp'}" method="post" th:unless="${emp.username} == ${session.empLoggedIn.username}">
                    <button class="btn" type="submit" onclick="return confirm('Er du sikker på du vil slette denne medarbejder?');">Slet</button>
                </form>
            </div>
        </a>
    </div>
</div>
</body>
</html>
