<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projektliste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <link rel="stylesheet" href="/frontPageStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<h1 class="myProjectsTitle">Mine projekter</h1>

<a class="btn createProject" th:if="${jobType == 2 or jobType == 3}" href="/projects/new" >+Opret projekt</a>

<div id="projekt-container">
    <div class="projekt" th:each="project : ${projects}">
        <a th:href="@{'/projects/' + ${project.projectID} + '/subprojects'}" class="project-link">
            <h2 class="projectTitle" th:text="${project.projectName}">Projektnavn</h2>
            <p class="projectStartDate" th:text="'Start Dato: ' + ${project.startDate}">Start Dato/p>
            <p class="projectEndDate" th:text="'Slut dato: ' + ${project.endDate}">Slut dato</p>
            <div th:if="${jobType == 2}" class="button-group">
                <a th:href="@{'/projects/' + ${project.projectID} + '/update'}" class="btn projectBtn">Opdater</a>
                <a th:href="@{'/projects/' + ${project.projectID} + '/delete'}" class="btn projectBtn" th:onclick="return confirm('Er du sikker på at du vil slette dette projekt?')">Slet</a>
                <a th:href="@{'/projects/' + ${project.projectID} + '/update-emps'}" class="btn projectBtn">Medarbejdere</a>
            </div>
        </a>
    </div>
</div>
<h1 class="myTasksTitle">Mine opgaver</h1>
<div id="task-container">
    <div class="task" th:each="task : ${tasks}">
        <a th:href="@{'/projects/' + ${task.projectID} + '/view-tasks/' + ${task.taskID}}" class="task-link">
            <h2 class="projectTitle" th:text="${task.taskName}">Opgavenavn</h2>
            <p class="taskStartDate" th:text="'Start Dato: ' + ${task.startDate}">Start Dato</p>
            <p class="projectEndDate" th:text="'Slut dato: ' + ${task.endDate}">Slut Dato</p>
        </a>
    </div>
</div>
</body>
</html>
