<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects List</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<h1>Projects List</h1>

<a th:if="${jobType == 2 or jobType == 3}" href="/projects/new" class="se-task-knap">Create Project</a>

<div id="projekt-container">
    <div class="projekt" th:each="project : ${projects}">
        <h2 th:text="${project.projectName}">Project Name</h2>
        <p class="projektleder" th:text="'Start Date: ' + ${project.startDate}">Start Date</p>
        <p th:text="'End Date: ' + ${project.endDate}">End Date</p>
        <div class="button-group">
            <a th:if="${jobType == 2 or jobType == 3}" th:href="@{'/projects/' + ${project.projectID} + '/update'}" class="se-task-knap">Update</a>
            <a th:if="${jobType == 2 or jobType == 3}" th:href="@{'/projects/' + ${project.projectID} + '/delete'}" class="se-task-knap" onclick="return confirm('Are you sure you want to delete this project?');">Delete</a>
        </div>
        <div class="button-group">
            <a th:if="${jobType == 2 or jobType == 3}" th:href="@{'/projects/' + ${project.projectID} + '/subprojects'}" class="se-task-knap">Subprojects</a>
            <a th:if="${jobType == 2 or jobType == 3}" th:href="@{'/projects/' + ${project.projectID} + '/update-emps'}" class="se-task-knap">Employees</a>
        </div>
    </div>
</div>
</body>
</html>
