<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adgang nægtet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body><h3>Din jobtype giver dig ikke adgang til denne del af Alpha Management.</h3></body>
<iframe src="https://giphy.com/embed/HaJgA1b707Pz6u5hSM" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a class="btn" href="/home">Hjem</a>
</html>