<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <link rel="stylesheet" href="/loginStyles.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-box">
                <h4 class="center-align">LOGIN</h4>
                <form action="/submit-login" method="post">
                    <div class="form-group">
                        <label for="empUsername">Brugernavn</label>
                        <input id="empUsername" type="text" name="empUsername" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="empPassword">Adgangskode</label>
                        <input id="empPassword" type="password" name="empPassword" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" name="action">Log ind</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>>