<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div>
    <h4>LOGIN</h4>
    <div>
        <form action="/submit-login" method="post">
            <div>
                <input id="empUsername" type="text" name="empUsername" class="validate" required>
                <label for="empUsername">Brugernavn</label>
            </div>
            <div>
                <input id="empPassword" type="password" name="empPassword" class="validate" required>
                <label for="empPassword">Adgangskode</label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>