<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subprojekter for [[${parentProjectName}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div class="container mt-4 mb-4">
    <h1 th:text="'Subprojekter for ' + ${parentProjectName}">Subprojeker for projekt</h1>
    <a th:href="@{'/projects/' + ${parentProjectID} + '/create-subproject'}" class="btn btn-primary">Tilføj nyt subprojekt</a>

    <table class="table table-bordered mt-4 mb-4">
        <thead>
        <tr>
            <th>Projektnavn</th>
            <th>Start Dato</th>
            <th>Slut dato</th>
            <th>Handlinger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subProject : ${subProjects}">
            <td>
                <a th:href="@{'/all-task' + '/view/' + ${subProject.projectID}}" th:text="${subProject.projectName}">Projektnavn</a>
            </td>
            <td th:text="${subProject.startDate}">Start Dato</td>
            <td th:text="${subProject.endDate}">Slut Dato</td>
            <td>
                <a th:href="@{'/projects/' + ${subProject.projectID} + '/update'}" class="btn btn-info mr-2">Opdater</a>
                <a th:href="@{'/projects/' + ${subProject.projectID} + '/delete'}" class="btn btn-danger mr-2" onclick="return confirm('Er du sikker på at du vil slette dette subprojekt');">Slet</a>
                <a th:href="@{'/projects/' + ${subProject.projectID} + '/update-emps'}" class="btn projectBtn">Medarbejdere</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="'/home'" class="btn btn-primary">Tilbage</a>
</div>

</body>
</html>
