<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub-Projects for [[${parentProjectName}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>
<div class="container">
    <h1 th:text="'Sub-Projects for ' + ${parentProjectName}">Sub-Projects for Project</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subProject : ${subProjects}">
            <td th:text="${subProject.projectName}">Project Name</td>
            <td th:text="${subProject.startDate}">Start Date</td>
            <td th:text="${subProject.endDate}">End Date</td>
            <td>
                <a th:href="@{'/projects/' + ${subProject.projectID} + '/update'}" class="btn btn-info">Update</a>
                <a th:href="@{'/projects/' + ${subProject.projectID} + '/delete'}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this sub-project?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/projects/' + ${parentProjectID} + '/create-subproject'}" class="btn btn-primary">Add New Sub-Project</a>
</div>

<a href="/home">Tilbage</a>

</body>
</html>
