<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>
<body>
<div class="container mt-5">
    <h2>Update Task</h2>
    <form th:action="@{'/projects/' + ${projectID} + '/view-tasks/' + ${taskID} + '/update/submit'}" method="post">
        <input type="hidden" name="projectID" th:value="${projectID}">
        <input type="hidden" name="taskID" th:value="${taskID}">
        <div class="form-group">
            <label for="taskName">Task Name</label>
            <input type="text" class="form-control" id="taskName" name="taskName" th:value="${task.taskName}" required>
        </div>
        <div class="form-group">
            <label for="categoryID">Category:</label>
            <select id="categoryID" th:field="*{task.categoryID}" required="required" class="form-control">
                <option th:each="category : ${categories}"
                        th:value="${category.categoryID}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" th:value="${task.description}" required>
        </div>
        <div class="form-group">
            <label for="estimate">Estimate</label>
            <input type="number" class="form-control" id="estimate" name="estimate" th:value="${task.estimate}" required>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" th:value="${task.startDate}" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" th:value="${task.endDate}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Task</button>
    </form>
</div>
</body>
</html>
