<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Employee Skills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Update Employee Skills</h2>
    <form action="/updateEmp" th:object="${emp}" method="post">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" name="username" th:value="${emp.username}" readonly/>
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" class="form-control" name="firstName" th:value="${emp.firstName}" required/>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" class="form-control" name="lastName" th:value="${emp.lastName}" required/>
        </div>

        <div class="form-group">
            <label for="lastName">Password:</label>
            <input type="text" id="password" class="form-control" name="password" th:value="${emp.password}" required/>
        </div>


        <div class="form-group">
            <label for="jobType">Job Type:</label>
            <select id="jobType" class="form-control" name="jobType" required>
                <!-- Create options for job types -->
                <option value="1" th:selected="${emp.jobType == 1}">Employee</option>
                <option value="2" th:selected="${emp.jobType == 2}">Project Manager</option>
                <option value="3" th:selected="${emp.jobType == 3}">System Administrator</option>
            </select>
        </div>

        <div class="form-group">
            <label>Skills:</label><br/>
            <!-- Loop through allSkills and create checkboxes -->
            <div th:each="skill : ${allSkills}" class="form-check">
                <input type="checkbox" class="form-check-input" name="skills" th:id="'skill' + ${skill}" th:value="${skill}"
                       th:checked="${empSkills.contains(skill)}"/>
                <label class="form-check-label" th:for="'skill' + ${skill}" th:text="${skill}"></label><br/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update Employee</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
