<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee to Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

<body>

<h1 th:text="'Tilføj medarbejdere til ' + ${project.projectName}"></h1>

<div class="search-container">
    <form class="searchBar" th:action="@{'/projects/' + ${projectID} + '/update-emps'}" method="get">
        <input type="text" name="searchString" placeholder="Søg efter medarbejdere...">
        <button class="btn" type="submit">Søg</button>
    </form>
</div>

<div id="emp-container">
    <div class="empBox" th:each="emp : ${empsToAdd}">
        <h2 class="fullName" th:text="${emp.firstName} + ' ' + ${emp.lastName}">Fulde navn</h2>
        <h5 class="username" th:text="${emp.username}">Brugernavn</h5>

        <div class="button-group">
            <form th:action="@{'/projects/' + ${projectID} + '/update-emps/add/' + ${emp.username}}" method="post">
                <button class="btn" type="submit">Tilføj til projekt</button>
            </form>
        </div>
    </div>
</div>

<h1 th:text="'Fjern medarbejdere fra ' + ${project.projectName}"></h1>

<div id="emp-container">
    <div class="empBox" th:each="emp : ${empsOnProject}">
        <h2 class="fullName" th:text="${emp.firstName} + ' ' + ${emp.lastName}">Fulde navn</h2>
        <h5 class="username" th:text="${emp.username}">Brugernavn</h5>
        <div class="button-group">
            <form th:action="@{'/projects/' + ${projectID} + '/update-emps/remove/' + ${emp.username}}" method="post">
                <button class="btn" type="submit">Fjern fra projekt</button>
            </form>
        </div>
    </div>
</div>
<a th:href="'/home'" class="btn btn-secondary mb-2">Bekræft</a>
</body>
</html>
