<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>
<body>
USER CREATED

<p th:text="${createdUser.firstName}"></p>
<p th:text="${createdUser.lastName}"></p>
<p th:text="${createdUser.username}"></p>
<p th:text="${createdUser.password}"></p>

<a href="/home">Hjem</a>
</body>
</html>