<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se opgave</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<body>
<div th:replace="~{fragments/header :: header}" class="header"></div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-4">
                <h2><strong th:text="${task.taskName}"></strong></h2>
                <p><strong th:text="'Beskrivelse: ' + ${task.description}"></strong></p>

                <form th:action="'/projects/' + ${task.projectID} + '/view-tasks/' + ${task.taskID} + '/progressmade'" method="post" class="mb-3">
                    <label for="hoursDone"><strong>Hvor mange timers arbejde har du lavet på denne opgave idag?:</strong></label>
                    <input type="number" name="hoursDone" class="form-control mb-2 w-25" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Hvis arbejde lavet er højere end estimatet vil opgaven blive markeret som færdig. Ændre estimatet hvis det ikke passer til. Tryk ok hvis du vil fortsætte');">Bekræft</button>
                </form>

                <div class="d-flex align-items-center">
                    <p class="mb-0"><strong th:text="'Opgaven er ' + (${task.isDone()} ? 'færdig' : 'ikke færdig')"></strong></p>
                    <form th:action="@{'/projects/' + ${projectID} + '/view-tasks/' + ${task.taskID} + '/toogle-done'}" method="post" class="ml-3">
                        <button type="submit" class="btn btn-primary">Ændre status</button>
                    </form>
                </div>
            </div>
            <a th:href="@{'/projects/' + ${projectID} + '/view-tasks'}" class="btn btn-secondary">Tilbage</a>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong th:text="'Total antal timer estimeret: ' + ${task.estimate} + ' timer'"></strong></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong th:text="'Antal timer brugt på denne opgave: ' + ${task.getHoursDone()}"></strong></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong th:text="'Start Dato: ' + ${task.startDate}"></strong></p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong th:text="'Slut Dato: ' + ${task.endDate}"></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
