<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se Opgave</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
</head>

<div th:replace="~{fragments/header :: header}" class="header"></div>

</head>
<body>
<div class="container">
    <h1>Opgave detaljer</h1>
    <div>
        <h2 th:text="'Opgavenavn: ' + ${task.taskName}"></h2>
        <p th:text="'Beskrivelse: ' + ${task.description}"></p>
        <p th:text="'Start Dato: ' + ${task.startDate}"></p>
        <p th:text="'Slut dato: ' + ${task.endDate}"></p>
        <p th:text="'Estimeret antal timer: ' + ${task.estimate}"></p>
        <p th:text="'Antal timer lavet på opgave: ' + ${task.getHoursDone()}">
        <p th:text="'Hvor mange timers arbejde har du lavet på denne opgave idag?:'">
        <form th:action="'/projects/' + ${task.projectID} + '/' + ${task.taskID} + '/progressmade'" method="post">
            <input type="number" name="hoursDone" />
        <button type="submit" class="btn btn-danger" onclick="return confirm('Hvis arbejde lavet er højere en estimatet vil opgavel blive markeret som færdig. Ændre estimatet hvis det ikke passer til. Tryk ok hvis du vil fortsætte');">Bekræft</button>
        </form>
        <p th:text="'Projektet er ' + (${task.isDone()} ? 'færdig' : 'ikke færdig')"></p>
        <form th:action="@{'/tasks/view/' + ${task.projectID} + '/' + ${task.taskID}}" method="post">
            <button type="submit">Ændre opgavens statustilstand</button>
        </form>
    </div>
    <form th:action="@{'/projects/' + ${projectID} + '/' + ${task.taskID} + '/update'}" method="get" style="display: inline-block;">
        <input type="hidden" name="projectID" th:value="${projectID}" />
        <input type="hidden" name="taskID" th:value="${task.taskID}" />
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>
    <div>


        <div>
            <ul>
                <li th:each="emp : ${empsToAdd}">
                    <span th:text="${emp.username}"></span>
                    <form th:action="@{'/tasks/view/' + ${task.projectID} + '/' + ${task.taskID} + '/add/' + ${emp.username}}" method="post">
                        <button type="submit">Tilføj til opgave</button>
                    </form>
                </li>
            </ul>
        </div>

        <h1>Medarbejder på opgaven</h1>
        <div>
            <ul>
                <li th:each="emp : ${empsOnTask}">
                    <span th:text="${emp.username}"></span>
                    <form th:action="@{'/tasks/view/' + ${task.projectID} + '/' + ${task.taskID} + '/remove/' + ${emp.username}}" method="post">
                        <button type="submit">Fjern fra opgave</button>
                    </form>
                </li>
            </ul>
        </div>



    </div>

    <div class="container">
        <a th:href="@{'/all-task/view/' + ${projectID}}" class="btn btn-primary">Tilbage</a>
    </div>

</div>
</body>
</html>
